.card-container1{
    flex-direction:  row; 
    display: grid;
    
    display: flex;
    justify-content: center;
  
    margin: 10px;
    border: 1px solid gray;
  }
  
  .product-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media only screen and (min-width: 768px)  {
  
    .card-container1{
      width: 30%;
      grid-template-columns: repeat(3,1fr); 
      display: inline-block;
    }
  
    .product-list-container{
      display: initial;
      flex-direction: row;
    }
  
  }