.confirmation-container {
    text-align: center;
    padding: 20px;
    
  }
  
.admin-botones{
    display: flex;
    justify-content: space-around;
    margin: 80px 15% 0px 15%;
}

  
.confirmation-message {
    font-size: 18px;
    color: #666;
    margin-top: 30px;
  }
  
.boton{
  width: 20%;
}

a{
  width: 100%;
    color: white;
}

.confirmation-title {
    font-size: 24px;
    color: #333;
    
    margin-bottom: 60px;
  }