.botones{
    margin: 100px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

p{
    margin-top: 70px;
    font-size: 1.2rem;
}

h2{
    margin-top: 80px;
}

button{
    width: 100%;
}