.detail-container{
    
    background-color: ivory;
  }

  
  
  .grid-container{
       
      display: grid;
      grid-template-columns: 1fr;
      background-color: white;
      height: 1000px;
      padding-top: 50px;
      padding-bottom: 50px;
      grid-template-areas: "imagen" "detalles" "pregunta" ;
  }
 
 .mensaje{
     margin-top: 10px;
  }
 
  .data-container{
      display: flex ;
      flex-direction: column;
      justify-content: space-between;
      height: 400px;
      text-align: start;
        margin-left: 20px;
  }
  .data-container h1{
      border-bottom: .5px  solid black;
      font-size: 22px;
    }
  
  
.descripcion-container{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      
}

  .descripcion-container p{
    margin: 20px 0px 0px 0px;
  }
  
  
  .image-container{
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
  
  
 .image-container img{
     border: 6px solid #571569;
     width: 95%;
     height: 80%;
 }
  
 .image-container img:hover {
     box-shadow: 0px 0px 20px #571569;
 }

 .itemdetail-container .boton{
    width: 20%;
 }

 .image-container{
    grid-area: imagen;
 }

 .data-container{
    grid-area: detalles;
 }

 .pregunta-container{
    grid-area: pregunta;
 }

 .altura{
    height: 900px !important;
 }


/*  */
/*
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
img {vertical-align: middle;} */
.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
  display: flex;
  max-width: 1000px;
  align-items: center;

  /* position: relative; */
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  height: 50px;
  cursor: pointer;
  /* position: absolute;
  top: 50%; */
  width: auto;
  padding: 16px;
  /* margin-top: -22px; */
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border-radius: 3px;
}

/* Position the "next button" to the right */
/* .next {
} */
  /* right: 0; */

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

span.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.slideshow-container .prev{
  margin-right: 6px;
}

.slideshow-container .next{
  margin-left: 6px;
}

.slideshow-container button{
  background: linear-gradient(135deg,#571569 0,#571569 100%);
}

 
 @media only screen and (min-width: 400px)  {
     .image-container img{
     
         width: 400px;
         height: 400px;
     }
 
 }
 
 
 @media only screen and (min-width: 768px)  {
     
     .grid-container{
         grid-template-columns: 1fr 1fr;
        height: 500px;
         column-gap: 80px; /* Cambia este valor según el espacio que desees */
         grid-template-areas: "imagen detalles" "pregunta pregunta" ;
     }
 
     
 
     }