body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    background-attachment: fixed ! IMPORTANT;
    background-position: right;
    background-size: cover !IMPORTANT;
    /* background: url(C:\1.png); */
    background-size: contain;
    color: #481871;

}

button{
  background: linear-gradient(135deg,#900549 0,#481871 100%);
}

nav{
  background: linear-gradient(135deg,#900549 0,#481871 100%);
}
footer{
  background: linear-gradient(135deg,#900549 0,#481871 100%);
}

